<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/public/login.css">
</head>
<body style="background-color:pink">
    <p>
    &nbsp;
    &nbsp;
    </p>

     <h2 style="color:DeepPink;"> <marquee direction="right"> Hello mates! This project is created by<i> RITHIK SINGH</i> </marquee> </h2>
     <p>  &nbsp; 
         </p>
                <h3 style="font-family: Tahoma; color:olive"> <center><b> !! view NASA -- Astronomy Picture Of the Day here -- !!! </b></center> </3>
   
    <form action="/login" method="post">
    <h1 style="color:HotPink;text-align:center;">
    <input type="text" name="name" placeholder="Name">
     <input type="password" name="password" placeholder="Password">
    <input type="submit">
    </h1>
    </form>
<p>


</p>

<p style="color:black;text-align:center;">

<a href="/signup"> Create new account to proceed</a> 

</p>

</body>
</html>